@tailwind base;
@tailwind components;
@tailwind utilities;

.line-clamp-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  max-height: 109px;
  line-height: 1.26;
}
